<!DOCTYPE html>

<html>
	<head>
		<title>Angular.js for QA</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>
		<style>

			input.ng-invalid.ng-touched {
				border: 2px solid red;
			}

		</style>
	</head>
	<body>

		<div ng-app="MyApp">
			<div ng-controller="MyCtrl">

				<form name="contactForm" novalidate>

					<div>
						<label>Name:
							<input type="text" name="contactName" ng-model="contact.name" required>
						</label>
					</div>

					<div>
						<label>Married:
							<input type="checkbox" name="contactMarried" ng-model="contact.married">
						</label>
					</div>

					<fieldset>
						<legend>Contact Type</legend>
						<div><label>
							<input type="radio" name="contactType" ng-model="contact.contactType" value="customer">
							Customer
						</label></div>
						<div><label>
							<input type="radio" name="contactType" ng-model="contact.contactType" value="vendor">
							Vendor
						</label></div>
						<div><label>
							<input type="radio" name="contactType" ng-model="contact.contactType" value="investor">
							Investor
						</label></div>
					</fieldset>

					<div>
						<label>Country:
							<select ng-model="contact.country" name="contactCountry"
								ng-options="country.code as country.name group by country.continent for country in countries">
								<option value=''>Select One...</option>
							</select>
						</label>
					</div>

					<div>
						<label>Comments:
							<textarea ng-model="contact.comments" name="contactComments" rows="5" cols="60"></textarea>
						</label>
					</div>

					<button type="button" ng-click="submitContact()">Submit</button>


				</form>

			</div>
		</div>

		<script>
			'use strict';

				angular.module('MyApp', [])
					.controller("MyCtrl", function($scope) {
						$scope.message = "Hi Class!";

						$scope.countries = [
							{ code: "IN", name: "India", continent: "Asia" },
							{ code: "NP", name: "Nepal", continent: "Asia" },
							{ code: "ES", name: "Spain", continent: "Europe" },
							{ code: "AZ", name: "Arizona", continent: "North America" },
							{ code: "US", name: "United States", continent: "North America" },
							{ code: "UK", name: "United Kingdom", continent: "Europe" }
						];

						$scope.submitContact = function() {
							console.log($scope.contact);
						};


					});

		</script>
	</body>
</html>
